name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Start Docker services
        run: docker compose -f docker-compose.yml up -d

      - name: Wait for Postgres
        run: |
          for i in {1..30}; do
            if nc -z localhost 30001; then
              echo "Postgres is up!";
              exit 0
            fi
            echo "Waiting for Postgres..."
            sleep 2
          done
          echo "Postgres did not become ready in time" >&2
          exit 1

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint

      # - name: Test
      #   run: bun run test

      - name: Build
        run: bun run build

      - name: Migrate (CI DB)
        env:
          DATABASE_URL: "postgresql://app:app@localhost:30001/ka-el_db"
        run: bun run migrate:deploy
